    .menu {
        margin-top: 0;
        width: 100%;
        min-height: 100px;
        background-color: #F3FFB6;
    }
    
    .menu-tab {
        width: 100%;
        display: flex;
        margin: 0;
    }
    
    .left-tab {
        text-align: center;
        margin: 0;
        width: 50%;
    }
    
    .empty {
        min-height: 15px;
        margin: 0;
    }
    
    .left-tab .title {
        margin: 0;
        text-align: center;
        font-family: 'Roboto', sans-serif;
    }
    
    .right-tab {
        width: 50%;
    }
    
    .container-links {
        width: 100%;
        display: flex;
        gap: 10px;
    }
    
    .menu-links {
        text-decoration: none;
        font-family: 'Syne Tactile', cursive;
        font-size: large;
    }