.subtitle {
    text-align: center;
    font-family: 'Syne Tactile', cursive;
}

.fa-laugh-wink {
    color: rgb(168, 168, 63);
}

.p-cata {
    margin-left: 20%;
}

.carryCon {
    background-color: rgb(224, 224, 118);
    width: 90%;
    margin: auto;
    border-radius: 30px;
}

.products {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.product {
    width: 40%;
    text-align: center;
    background-color: rgb(233, 233, 233);
    box-shadow: 20px 5px white;
    margin: auto;
    border-radius: 30px;
}

.product img {
    width: 80%;
    border-radius: 30px;
}